<div>
  <div class="container user-info">
      <form method="post">
          <div class="row mt-3">
              <div class="col-md-4">
                  <div class="pt-3 pl-3 mr-5">
                      <div class="col-md-9">
                          <h2>Avatar</h2>
                          <div class="user-avatar">

                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-8 pt-3 pl-5">
                    <% if (message.length > 0) { %>
                    <div class="col-md-10 mb-2">
                      <div class="error">
                        <i class="fas fa-times-circle me-2"></i>
                        <span><%= message%></span>
                      </div>
                    </div>
                    <% } %>
                  <div class="col-md-10 mb-2">
                      <label>Fullname</label>
                      <input class="form-control" type="text" name="fullname" placeholder="Fullname" value='<%= user.fullname%>'/>
                  </div>
                  <div class="col-md-10 mb-2">
                      <label>Username</label>
                      <input class="form-control" type="text" name="username" placeholder="Username"
                        value='<%= user.username%>'  <%= isCreate ? '' : 'disabled'%>/>
                  </div>
                  <div class="col-md-10 mb-2">
                      <label>Email</label>
                      <input class="form-control" type="email" name="email" placeholder="Email"  value='<%= user.email%>' <%= isCreate ? '' : 'disabled'%>/>
                  </div>
                  <div class="col-md-10 mb-2">
                      <label>Phone</label>
                      <input class="form-control" type="text" name="phone" placeholder="Phone"  value='<%= user.phoneNumber%>'  <%= isCreate ? '' : 'disabled'%>/>
                  </div>
                  <div class="col-md-10 mb-2">
                      <label>Address</label>
                      <input class="form-control" type="text" name="address" placeholder="Address" value="<%= user.addresses ? user.addresses : '' %>"/>
                  </div>
                  <div class="col-md-10 mt-5 d-flex justify-content-center">
                      <button type="submit" class="col-md-5 btn btn-primary"><%= option%></button>
                  </div>
              </div>
          </div>
      </form>
  </div>
</div>