<div>
    <div class="container user-info">
        <form method="POST">
            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="pt-3 pl-3 mr-5">
                        <div class="col-md-9">
                            <h2>Avatar</h2>
                            <div class="user-avatar">
                              <img src="<%= user.avatar%>" alt="">
                            </div>
                        </div>
                        <button class="btn ml-3 mt-5">Change avatar</button>
                    </div>
                </div>
                <div class="col-md-8 pt-3 pl-5">
                    <div class="col-md-10 mb-2">
                        <label>Full name</label>
                        <input class="form-control" type="text" name="fullname" placeholder="Fullname" value='<%= user.fullname%>'/>
                    </div>
                    <div class="col-md-10 mb-2">
                        <label>User name</label>
                        <input class="form-control" type="text" name="username" placeholder="Username"
                            disabled="true" value='<%= user.username%>'/>
                    </div>
                    <div class="col-md-10 mb-2">
                        <label>Email</label>
                        <input class="form-control" type="email" name="email" placeholder="Email" disabled="true" value='<%= user.email%>'/>
                    </div>
                    <div class="col-md-10 mb-2">
                        <label>Phone</label>
                        <input class="form-control" type="text" name="phone" placeholder="Phone" disabled="true" value='<%= user.phoneNumber%>'/>
                    </div>
                    <div class="col-md-10 mb-2">
                        <label>Address</label>
                        <input class="form-control" type="text" name="address" placeholder="Address" value="<%= user.addresses ? user.addresses : '' %>"/>
                    </div>
                    <div class="col-md-10 mt-5 d-flex justify-content-between">
                        <button type="submit" class="col-md-5 btn btn-primary">Update Info</button>
                        <a href="/admins/change-password" class="btn col-md-5 btn-primary">Edit pass</a>
                        <!-- <button type="submit" class="col-md-5 btn btn-primary">Change password</button> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>