<!DOCTYPE html>
<html lang="en">

<head>
    <title>User</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/table-style/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/table-style/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/table-style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/table-style/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/table-style/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/table-style/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/table-style/css/util.css">
    <link rel="stylesheet" type="text/css" href="/table-style/css/main.css">
    <!--===============================================================================================-->
</head>

<body>
    <div class="row">
        <div class="col-12">
            <h2 class="page-title">User List</h2>
            <a href="/users/create" class="btn btn-text-secondary float-right">CREATE A NEW USER</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table100 ver1">
            <thead>
                <tr>
                    <th scope="col">Full name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody class="table100-body">
                <%for (let i = 0; i < users.length; i++) { %>
                <tr>
                    <td><%= users[i].fullname%></td>
                    <td><%= users[i].username%></td>
                    <td><%= users[i].userRight%></td>
                    <td><%= users[i].email%></td>
                    <td><%= users[i].phoneNumber%></td>
                    <td><%= users[i].address%></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

</body>