<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="icon" type="image/png" href="/table-style/images/icons/favicon.ico" />    
    <link rel="stylesheet" type="text/css" href="/table-style/vendor/bootstrap/css/bootstrap.min.css">    
    <link rel="stylesheet" type="text/css" href="/table-style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" type="text/css" href="/table-style/vendor/animate/animate.css">    
    <link rel="stylesheet" type="text/css" href="/table-style/vendor/select2/select2.min.css">    
    <link rel="stylesheet" type="text/css" href="/table-style/vendor/perfect-scrollbar/perfect-scrollbar.css">    
    <link rel="stylesheet" type="text/css" href="/table-style/css/util.css">
    <link rel="stylesheet" type="text/css" href="/table-style/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>

<body>
    <div class="col-md-12">
        <div class="row">
            <div class="col-12">
                <h2 class="page-title">Admin List</h2>
                <a href="/admins/create" class="btn btn-text-secondary float-right">CREATE A NEW ADMIN</a>
            </div>
        </div>
        <div class="row">
            <%- include('../partials/search')%>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table100 ver1">
            <thead>
                <tr>
                    <th scope="col" class="table-header">Full name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="table-header">Actions</th>
                </tr>
            </thead>
            <tbody class="table100-body">
                <%for (let i = 0; i < admins.length; i++) { %>
                    <tr>
                        <td><a href='/admins/detail/<%=admins[i]._id%>'><%= admins[i].fullname%></a></td>
                        <td><%= admins[i].username%></td>
                        <td><%= admins[i].userRight%></td>
                        <td><%= admins[i].email%></td>
                        <td><%= admins[i].phoneNumber%></td>
                        <td><%= (admins[i].isLock === true) ? 'LOCKED' : 'NOT LOCKED'%></td>
                        <td class="operator-buttons">
                            <a href='/admins/detail/<%=admins[i]._id%>'>                            
                                <i class="fas fa-pen-square"></i>
                            </a>
                            <% if (!locals.curAdmin._id.equals(admins[i]._id)) { %>
                                <% if (admins[i].isLock === true) { %>
                                    <a class="account-actions" data-id=<%=admins[i]._id%>>
                                        <i class="fas fa-unlock"></i>
                                    </a>
                                <% } else { %>
                                    <a class="account-actions" data-id=<%=admins[i]._id%>>
                                        <i class="fas fa-lock"></i>
                                    </a>
                                <% } %>
                            <% } %>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <%- include('../partials/pagination')%>
</body>