<!DOCTYPE html>
<html lang="en">

<head>
    <title>Table V04</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/table-style/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/table-style/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/table-style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/table-style/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/table-style/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/table-style/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/table-style/css/util.css">
    <link rel="stylesheet" type="text/css" href="/table-style/css/main.css">
    <!--===============================================================================================-->
</head>

<body>
    <div class="col-md-12">
        <div class="row">

            <div class="col-12">
                <h2 class="page-title">Order List</h2>
            </div>
        </div>
        <div class="row">
            <%- include('../partials/search')%>
            <!--div class="col-md-5">
                <a href="#" class="btn btn-text-secondary float-right">CREATE A NEW ORDER</a>
            </div-->
        </div>
    </div>

    <div class="table-responsive orders-table">
        <table class="table100 ver1">
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Order_ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Shipping Address</th>
                    <th scope="col">Total</th>
                    <th scope="col">Created date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody class="table100-body">
                <% for (let i = 0; i < orders.length; i++) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td>
                        <a href="/orders/detail/<%=orders[i]._id%>">
                            <%= orders[i]._id%>
                        </a>
                    </td>
                    <td>
                        <a href = '/users/detail/<%=orders[i].user_id._id%>''>
                            <%= orders[i].user_id.username %>
                        </a>
                    </td>
                    <td><%= orders[i].user_id.fullname %></td>
                    <td><%= orders[i].shippingAddress %></td>
                    <td><%= orders[i].totalPrice %></td>
                    <td><%= orders[i].createdDate %></td>
                    <td>
                        <% if (orders[i].status === "in progress") { %>
                            <span class="order-status order-cancel bg-warning">
                                In Progress
                            </span>
                        <% } else { %>
                            <% if (orders[i].status === "shipping") { %>
                                <span class="order-status order-shipping bg-primary">
                                    Shipping
                                </span>
                            <% } else { %>
                                <span class="order-status order-done bg-success">
                                    Completed
                                </span>
                            <% } %>
                        <% } %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <%- include('../partials/pagination')%>
</body>