<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/table-style/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/product-style/css/productdetail.css">
</head>

<body>
    <div class="container wrapper">
        <form action="" id="detail-form" role="form">
            <div class="col-md-12 row">
                <div class="col-md-5">
                    <img alt="image" class="img-fluid" src=<%= product.images[0].url%>>
                </div>
                <div class="col-md-7 row">
                    <div class="col-md-6">
                        <div class="mt-2">
                            <label for="product-name">Name</label>
                            <div>
                                <input type="text" id="product-name" value="<%= product.name%>">
                            </div>
                        </div>
                        <div id="product-brand">
                            <label for="product-brand">Brand</label>
                            <div>
                                <input type="text" id="product-brand" value="<%= product.brand%>">
                            </div>
                        </div>
                        <div id="product-brand">
                            <label for="product-desc">Description</label>
                            <div>
                                <!-- set desc in js file-->
                                <!-- fix this -->
                                <textarea id="product-desc" row="5" col="100"
                                ><%= product.description%></textarea>
                            </div>
                        </div>
                        <div id="product-price">
                            <label for="product-price">Price ($)</label>
                            <div>
                                <input type="text" id="product-price" value=<%= product.price%>>
                            </div>
                        </div>
                        <div id="product-SKU">
                            <label for="product-SKU">SKU</label>
                            <div>
                                <input type="text" id="product-SKU" value=<%= product.SKU%>>
                            </div>
                        </div>
                        <div id="product-tag">
                            <label for="product-tag">Tags</label>
                            <div>
                                <input type="text" id="product-tag" disabled="true" value="<%- include('_tags')%>">
                            </div>
                        </div>
                        <div id="product-category">
                            <div>
                                <p>Category</p>
                            </div>                       
                            <label for="category-gender">Gender</label>
                            <div>
                                <input type="text" id="category-gender" value="<%= product.category.gender%>">
                            </div>
                            <label for="category-gender">Type</label>
                            <div>
                                <input type="text" id="category-gender" value="<%= product.category.type%>">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label for="form_detail">Details</label>
                            <div class="row mb-2">
                                <div class="col-md-5">
                                    <label for="form">Size</label>
                                    <input id="size" class="col-12" type="text" name="size" placeholder="Size"
                                        data-error="Valid email is required.">

                                </div>
                                <div class="col-md-5">
                                    <label for="form">Quantity</label>
                                    <input id="quantity" class="col-12" type="text" name="quantity"
                                        placeholder="Quantity" data-error="Please specify your need.">

                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button" onCLick="onAddDetail()"><i
                                            class="fas fa-plus"></i></button>
                                </div>
                            </div>
                            <table class="col-md-12 detail-table" id="detail-table">
                                <thead class="col-5">
                                    <tr class="row">
                                        <th class="col-5">Size</th>
                                        <th class="col-5">Quantity</th>
                                    </tr>
                                </thead>
                                <tbody class="detail-value">
                                    <%- include('_sizeAndQuantity')%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <input type="submit" class="btn btn-success btn-send pt-2 btn-block " value='Submit'>
        </div>
        </form>
    </div>
</body>

</html>