<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" type="image/png" href="../../public/table-style/images/icons/favicon.ico" /> -->
    <link rel="stylesheet" type="text/css" href="product-style/css/productdetail.css">
</head>
<body>
    <div class="container wrapper">
        <div class="col-md-12 row">
            <div class="col-md-5">
                <img alt="image"
                    class="img-fluid" src=<%= product.images[0].url%>>
            </div>
            <div class="col-md-7 row">
                <div class="col-md-6">
                    <div class="mt-2 product-info">
                        <label for="product-name">Name
                            <button type="button" class="button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </label>
                        <div>
                            <input type="text" id="product-name" disabled="true" value=<%= product.name%>>
                        </div>
                    </div>
                    <div class="product-info" id="product-brand">
                        <label for="product-brand">Brand
                            <button type="button" class="button">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button></label>
                        <div>
                            <input type="text" id="product-brand" disabled="true" value=<%= product.brand%>>
                        </div>
                    </div>
                    <div class=" product-info" id="product-brand">
                        <label for="product-desc">Description
                            <button type="button" class="button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </label>
                        <div>
                            <!-- set desc in js file-->
                            <textarea id="product-desc" row="5" col="100" disabled="true"><%= product.description%></textarea>
                        </div>
                    </div>
                    <div class=" product-info" id="product-price">
                        <label for="product-price">Price
                            <button type="button" class="button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </label>
                        <div>
                            <p>$<input type="text" id="product-price" disabled="true" value=<%= product.price%>></p>
                        </div>
                    </div>
                    <div class=" product-info" id="product-SKU">
                        <label for="product-SKU">SKU
                            <button type="button" class="button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </label>
                        <div>
                            <input type="text" id="product-SKU" disabled="true" value=<%= product.SKU%>>
                        </div>
                    </div>
                    <div class=" product-tag" id="product-tag">
                        <label for="product-tag">Tags
                            <button  type="button" class="button">

                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            </label>
                        <div>
                            <!--input type="text" id="product-tag" disabled="true" value=<%- include('_tags')%>-->
                            <%- include('_tags')%>
                        </div>
                    </div>
                    <div class=" product-category" id="product-category">
                        <label for="product-category">Category</label>
                        <div>
                            <input type="text" id="product-category" disabled="true" value=<%= product.category%>>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-detail ">
                        <label for="form_detail">Details<span class="require">*</span></label>
                        <div class="row mb-2">
                            <div class="col-md-5">
                                <label for="form">Size</label>
                                <input id="size" class="col-12" type="text" name="size" placeholder="Size"
                                    data-error="Valid email is required.">

                            </div>
                            <div class="col-md-5">
                                <label for="form">Quantity</label>
                                <input id="quantity" class="col-12" type="text" name="quantity" placeholder="Quantity"
                                    data-error="Please specify your need.">

                            </div>
                            <div class="col-md-2 button-add">
                                <button type="button" class="button" onCLick="onAddDetail()"><i
                                        class="fas fa-plus"></i></button>
                            </div>
                        </div>
                        <table class="col-md-12 detail-table" id="detail-table">
                            <thead class="col-5">
                                <tr class="row">
                                    <th class="col-5">Size</th>
                                    <th class="col-5">Quantity</th>
                                </tr>
                            </thead>
                            <tbody class="detail-value">
                                <%- include('_sizeAndQuantity')%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-5 row justify-content-around align-content-center"> 
                <button type="button" class="col-md-5 btn btn-primary gap-3">Update product</button>
                <button id="rmvBtn" onClick="onRemoveProduct()" type="button" class="col-md-5 btn btn-danger gap-3" data-id="<%= product._id%>">Remove product</button>
            </div>
        </div>

    </div>
    <script src="js/productDetailScript.js"></script>
</body>
</html>