<!--!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../public/table-style/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <!--link rel="stylesheet" type="text/css" href="../../public/table-style/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <!--link rel="stylesheet" type="text/css" href="../../public/table-style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <!--link rel="stylesheet" type="text/css" href="../../public/table-style/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <!--link rel="stylesheet" type="text/css" href="../../public/table-style/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <!--link rel="stylesheet" type="text/css" href="../../public/table-style/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <!--link rel="stylesheet" type="text/css" href="../../public/table-style/css/util.css">
    <--link rel="stylesheet" type="text/css" href="../../public/product-style/css/productdetail.css">
    <1--title><%= title%></title>
<!--/head>
<body-->
    <div class="container wrapper">
        <div class="col-md-12 row">
            <div class="col-md-5">
                <img src="https://chicos.vn/wp-content/uploads/2019/07/9535199410_1885848294.jpg" alt="image"
                    class="img-fluid">
            </div>
            <div class="col-md-7 row">
                <div class="col-md-6">
                    <div class="mt-2 product-info">
                        <label for="product-name">Name<a href="">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a></label>
                        <div>
                            <input type="text" id="product-name" disabled="true" value=<%= product.name%>>

                        </div>
                    </div>
                    <div class="mt-2 product-info" id="product-brand">
                        <label for="product-brand">Brand<a href="">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a></label>
                        <div>
                            <input type="text" id="product-brand" disabled="true" value=<%= product.brand%>>
                        </div>
                    </div>
                    <div class="mt-2 product-info" id="product-brand">
                        <label for="product-desc">Description<a href="">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a></label>
                        <div>
                            <!-- set desc in js file-->
                            <textarea id="product-desc" row="5" col="100" disabled="true"><%= product.description%></textarea>
                        </div>
                    </div>
                    <div class="mt-2 product-info" id="product-price">
                        <label for="product-price">Price<a href="">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a></label>
                        <div>
                            <p>$<input type="text" id="product-price" disabled="true" value=<%= product.price%>></p>
                            <div class="edit">

                            </div>
                        </div>
                    </div>
                    <div class="mt-2 product-info" id="product-SKU">
                        <label for="product-SKU">SKU<a href="">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a></label>
                        <div>
                            <input type="text" id="product-SKU" disabled="true" value=<%= product.SKU%>>

                        </div>
                    </div>
                    <div class="mt-2 product-tag" id="product-tag">
                        <label for="product-tag">Tags<a href="">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a></label>
                        <div>
                            <input type="text" id="product-tag" disabled="true" value=<%= product.tags[0].name%>>
                        </div>
                    </div>
                    <div class="mt-2 product-category" id="product-category">
                        <label for="product-category">Category</label>
                        <div>
                            <input type="text" id="product-category" disabled="true" value=<%= product.category%>>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-detail mt-2">
                        <label for="form_detail">Details<span class="require">*</span></label>
                        <div class="row mb-2">
                            <div class="col-md-5">
                                <label for="form">Size</label>
                                <input id="size" class="col-12" type="text" name="size" placeholder="Size"
                                    data-error="Valid email is required.">

                            </div>
                            <div class="col-md-5">
                                <label for="form">Quantity</label>
                                <input id="quantity" class="col-12" type="text" name="quantity" placeholder="Quantity"
                                    data-error="Please specify your need.">

                            </div>
                            <div class="col-md-2 button-add">
                                <button type="button" class="btn btn-primary btn-add-detail" onCLick="onAddDetail()"><i
                                        class="fas fa-plus"></i></button>
                            </div>
                        </div>
                        <table class="col-md-12 detail-table" id="detail-table">
                            <thead class="col-5">
                                <tr class="row">
                                    <th class="col-5">Size</th>
                                    <th class="col-5">Quantity</th>
                                </tr>
                            </thead>
                            <tbody class="detail-value">
                                <%- include('_sizeAndQuantity')%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-5"> <input type="submit" class="btn btn-success btn-send pt-2 btn-block "
                    value="Add product">
            </div>
        </div>

    </div>
    <script>
        function onAddDetail() {
            const size = document.getElementById('size').value;
            const quantity = document.getElementById('quantity').value;
            // const detailValue=document.getElementById('detail-value');
            const detailValue = document.querySelector('tbody');
            detailValue.innerHTML += `
                <tr class="row">
                    <tr class="row">
                        <td class="col-5"><input class="col-12" type="text" value="${size}"></td>
                        <td class="col-5"><input class="col-12" type="text" value="${quantity}"></td>
                    </tr>
                </tr>
            `;
        }
    </script>
<!--/body>
</html-->