<div class="container wrapper">
        <div class=" text-center mt-5 ">
            <h1>Product</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="container">
                    <form id="product-form" action="/products/create" method="post" enctype="multipart/form-data">
                        <div class="controls row">
                            <div class="col-lg-6">
                                <div class="col-lg-12 row mb-3">
                                    <div class="form-group">
                                        <label for="form_productname">Product Name <span
                                            class="require">*</span></label>
                                        <input id="form_productname" type="text" name="name"
                                            class="form-control border" placeholder="Enter product name"
                                            required="required" data-error="Product name is required."
                                            value="<%=product.name%>">
                                    </div>
                                </div>
                                <div class="col-lg-12 row mb-3">
                                    <div class="col-md-6 mb-3 p-0">
                                        <div class="form-group">
                                            <label for="form_brand">Brand<span class="require">*</span></label>
                                            <input id="form_brand" type="text" name="brand" class="form-control border"
                                                placeholder="Enter brand" required="required"
                                                data-error="Brand is required." value="<%=product.brand%>">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 row mb-3">
                                    <div class="col-md-6 mb-3 p-0">
                                        <div class="form-group">
                                            <label for="form_brand">Price<span class="require">*</span></label>
                                            <input id="form_price" type="price" name="price" class="form-control border"
                                                placeholder="Enter price" required="required"
                                                data-error="Price is required." value="<%=product.price%>">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 row mb-0">
                                    Category
                                </div>
                                <div class="col-lg-12 row mb-3">          
                                    <div class="row">
                                        <div id="form_category">
                                            <div class="form-check">
                                                <label for="form_category_gender" class="category_group">Gender</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                        name="gender" id="maleRadio" value="Male"
                                                        <% if (product.category.gender === "Male") { %>
                                                            <%= "checked"%>
                                                        <% } %>
                                                    >
                                                    <label class="form-check-label"
                                                        for="femaleRadio">Male</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                        name="gender" id="femaleRadio" value="Female"
                                                        <% if (product.category.gender === "Female") { %>
                                                            <%= "checked"%>
                                                        <% } %>    
                                                    >
                                                    <label class="form-check-label"
                                                        for="femaleRadio">Female</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                        name="gender" id="bothGenderRadio"
                                                        value="Unisex"
                                                        <% if (product.category.gender === "Unisex") { %>
                                                            <%= "checked"%>
                                                        <% } %>    
                                                    >
                                                    <label class="form-check-label"
                                                        for="bothGenderRadio">Unisex</label>
                                                </div>
                                            </div>
                                            <div class="form-check">
                                                <label for="form_category_style"
                                                    class="category_group">Type</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                        name="type" id="sportRadio" value="Sport"
                                                        <% if (product.category.type === "Sport") { %>
                                                            <%= "checked"%>
                                                        <% } %>
                                                    >
                                                    <label class="form-check-label"
                                                        for="sportRadio">Sport</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                        name="type" id="casualRadio" value="Casual"
                                                        <% if (product.category.type === "Casual") { %>
                                                            <%= "checked"%>
                                                        <% } %>
                                                    >
                                                    <label class="form-check-label"
                                                        for="casualRadio">Casual</label>
                                                </div>
    
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                        name="type" id="bothRadio" value="Street"
                                                        <% if (product.category.type === "Street") { %>
                                                            <%= "checked"%>
                                                        <% } %>    
                                                    >
                                                    <label class="form-check-label" for="bothRadio">Street</label>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>                                                                                 
                                </div>
                                <div class="col-lg-12 row mb-3">
                                    <div class="form-group">
                                        <label for="form_productname">SKU<span
                                            class="require"></span></label>
                                        <input id="form_productname" type="text" name="SKU"
                                            class="form-control border" placeholder="Enter description"
                                            required="required" value="<%=product.SKU%>">
                                    </div>
                                </div>
                                <div class="col-lg-12 row mb-3">
                                    <div class="form-group">
                                        <label for="form_productname">Description<span
                                            class="require"></span></label>
                                        <input id="form_productname" type="text" name="description"
                                            class="form-control border" placeholder="Enter description"
                                            required="required" value="<%=product.description%>">
                                    </div>
                                </div>
                                <div class="col-lg-12 row mb-3">
                                    <div class="col-md-12">
                                        <div id="details" class="form-group">
                                            <div class="row">Details</div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label for="form">Size</label>
                                                        <input id="size-input" type="text" name="size-input"
                                                            class="form-control" placeholder="Enter size"
                                                            data-error="Valid email is required.">
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label for="form">Quantity</label>
                                                        <input id="quantity-input" type="text" name="quantity-input"
                                                            class="form-control" placeholder="Enter quantity"
                                                            data-error="Please specify your need.">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 button-add">
                                                    <button type="button" class="btn btn-primary btn-add-detail"
                                                        onCLick="onAddDetail()">ADD</button>
                                                </div>
                                            </div>
                                            <% if (product.details) { %>
                                                <% product.details.map((detail) => { %>
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <input type="text" name="size"
                                                                    class="form-control border" placeholder="Enter size"
                                                                    value="<%=detail.size%>">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <input type="text" name="quantity"
                                                                    class="form-control border" placeholder="Enter quantity"
                                                                    value="<%=detail.quantity%>">
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% }) %>
                                            <% } %>                                            
                                        </div>
                                    </div>
                                    <div class="col-md-12" id="details"></div>
                                </div>
                                <div class="col-lg-12 row mb-3">
                                    <div class="col-md-12 row">
                                        <div id="tags" class="form-group">
                                            <label for="form_detail">Tags<span
                                                    class="require"></span></label>
                                            <input id="tag-input" type="text" name="tag-input"
                                                class="form-control" value="" placeholder="Enter tags...">    
                                            <div class="col-md-2 button-add">
                                                <button type="button" class="btn btn-primary"
                                                    onClick="onAddTag()"><span class="lg">ADD</span></button>
                                            </div>                                          
                                        </div>
                                        <% if (product.tags) { %>
                                            <% product.tags.map(tag => { %>
                                                <div class="row">
                                                    <div class="col-md-12 row">
                                                        <div class="form-group">
                                                            <input type="text" name="tag"
                                                                class="form-control border" placeholder="Enter size"
                                                                value="<%=tag.name%>">
                                                        </div>
                                                    </div>
                                                </div>
                                            <% }) %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="example-input-file"> </label>
                                    <input type="file" name="images" multiple id="input-many-files" 
                                            class="form-control-file border" required data-error="Please upload image.">
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="preview-images">
                                                <% if (product.images) { %>
                                                    <% product.images.map(image => { %>
                                                        <img src="<%=image.url%>" width=300>
                                                    <% }) %>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12"> 
                            <button class="btn btn-success btn-send pt-2 btn-block ">
                                <%= nameBtn%> PRODUCT
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        
        $(document).ready(function() {
            // Multiple images preview in browser - trungquandev.com
            let imagesPreview = function(input, placeToInsertImagePreview) {
                if (input.files) {
                    $(placeToInsertImagePreview).empty();
                    let filesAmount = input.files.length;
                    for (i = 0; i < filesAmount; i++) {
                        let reader = new FileReader();
                        reader.onload = function(event) {
                            $($.parseHTML("<img>"))
                            .attr("src", event.target.result)
                            .attr("width", 300)
                            .appendTo(placeToInsertImagePreview);
                        }
                        reader.readAsDataURL(input.files[i]);
                    }
                }
            };
            $("#input-many-files").on("change", function() {
                imagesPreview(this, "div.preview-images");
            });
        });

        
        function onAddDetail() {
            const size = document.getElementById('size-input').value;
            const quantity = document.getElementById('quantity-input').value;
            // const detailValue=document.getElementById('detail-value');
            const placeInsertNode = document.querySelector('#details');
            let node = `
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" name="size"
                                class="form-control border" placeholder="Enter size"
                                value=${size}>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" name="quantity"
                                class="form-control border" placeholder="Enter quantity"
                                value=${quantity}>
                        </div>
                    </div>
                </div>
            `
            if (size && quantity) {
                placeInsertNode.innerHTML += node;
            }
        }

        function onAddTag() {
            const tag = document.getElementById('tag-input').value;
            const placeInsertNode = document.querySelector('#tags');
            let node = `
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="tag"
                                class="form-control border" placeholder="Enter size"
                                value=${tag}>
                        </div>
                    </div>
                </div>
            `
            if (tag) {
                placeInsertNode.innerHTML += node;
            }
        }
    </script>