<%for (let i = 0; i < products.length; i++) { %>
<<<<<<< HEAD
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="block-4 text-center border">
            <figure class="block-4-image">
                <a href="/detail">
                    <img src="https://chicos.vn/wp-content/uploads/2019/07/9535199410_1885848294.jpg" alt="images placeholder" class="img-fluid">
                </a>
            </figure>
            <div class="block-4-text p-4">
                <h3><a href="/detail" class="text-primary" >Tank top</a></h3>
            </div>
            <p class="text-primary font-weight-bold">$50</p>
        </div>
    </div>
=======
<tr>
    <td><%= products[i].name %></td>
    <td><%= products[i].brand %></td>
    <td><%= products[i].price %></td>
    <td><%= products[i].SKU %></td>
    <td><%= products[i].description %></td>
</tr>
>>>>>>> 30fb44c5f3aa9e7f5e031645f48616801d77ee5d
<% } %>