<%for (let i = 0; i < products.length; i++) { %>
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="block-4 text-center border">
            <div class="block-4-image" style='width: 100%; height: 60%;'>
                <a href="/products/detail?id=<%= products[i]._id%>">
                    <img alt="images placeholder" style='width: 100%;height: 100%;' src='<%= products[i].images[0].url%>'>
                </a>
            </div>
            <div class="block-4-text p-4" style='width: 100%; height: 20%;'>
                <h3><a href="/products/detail?id=<%= products[i]._id%>" class="text-primary" style='font-size: 20px'><%= products[i].name%></a></h3>
            </div>
            <p class="text-primary font-weight-bold" style='width: 100%; height: 5%;'>$<%= products[i].price%></p>
            <div class="buttons" style='width: 100%; height: 15%;'>
                <a href="/products/detail?id=<%= products[i]._id%>" class="btn btn-primary">Update</a>
                <a class="btn btn-danger" data-toggle="modal" data-target="#confirmModal" data-id="<%= products[i]._id%>">Remove</a>
            </div>

            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Remove Product Confirmation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Do you really want to delete this product?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-primary" id="confirm">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
<% } %>
