<!--body-->
<div class="col-md-12">
    <div class="row">
        <div class="col-12">
            <h2 class="page-title">Product List</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <form class="search-product" action="/products/search">
                <label class="search-label" for="search-form">Search</label>
                <input type="search" id="search-form" class="" />
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </form>



        </div>
        <div class="col-md-5">
            <a href="/product-detail/add-product" class="btn btn-text-secondary float-right">CREATE A NEW
                PRODUCT</a>
        </div>
    </div>
    <div class="row mb-5">
        <%- include('_show')%>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="page-index">
                <ul>
                    <% if(pages > 0) { %>
                    <nav class="mx-auto">
                        <ul class="pagination" style="margin-top: 2rem;">

                            <!-- FIRST ITEM -->
                            <% if(current == 1) { %>
                            <li class="disabled special-page">
                                <a href="#">
                                    <span>First</span>
                                </a>
                            </li>
                            <li class="disabled">
                                <a href="#">
                                    <span>&lt;</span>
                                </a>
                            </li>
                            <% } else { %>
                            <li class="special-page">
                                <a href="/products?page=1">
                                    <span>First</span>
                                </a>
                            </li>
                            <li>
                                <a href="/products?page=<%= Number(current)-Number(1)%>">
                                    <span>&lt;</span>
                                </a>
                            </li>
                            <% } %>

                            <!-- ITEMS  -->
                            <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
                            <% if(i !== 1) { %>
                            <li class="disabled">
                                <a href="#"><span>...</span></a>
                            </li>
                            <% } %>
                            <% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>
                            <% if(i == current) { %>
                            <li class="disabled active">
                                <a href="#">
                                    <span><%= i %></span>
                                </a>
                            </li>
                            <% } else { %>
                            <li>
                                <a href="/products?page=<%= i %>">
                                    <span><%= i %></span>
                                </a>
                            </li>
                            <% } %>
                            <% if (i == Number(current) + 2 && i < pages) { %>
                            <li class="disabled">
                                <a href="#"><span>...</span></a>
                            </li>
                            <% } %>
                            <% } %>

                            <!-- LAST ITEM -->
                            <% if(current == pages) { %>
                            <li class="disabled">
                                <a href="#">
                                    <span>&gt;</span>
                                </a>
                            </li>
                            <li class="disabled special-page">
                                <a href="#">
                                    <span>Last</span>
                                </a>
                            </li>
                            <% } else { %>
                            <li class="disabled">
                                <a href="/products?page=<%= Number(current)+Number(1)%>">
                                    <span>&gt;</span>
                                </a>
                            </li>
                            <li class="special-page">
                                <a href="/products?page=<%= pages %>">
                                    <span>Last</span>
                                </a>
                            </li>
                            <% } %>
                        </ul>
                    </nav>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<!--/body-->